name: Android Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - run: sudo apt install -y git zip unzip openjdk-13-jdk python3-pip autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev libtinfo5 cmake libffi-dev libssl-dev
      - run: pip3 install --user --upgrade Cython==0.29.19 virtualenv buildozer
      - run: buildozer android debug

      - name: artifact
        uses: actions/upload-artifact@v2
        with:
          name: fr.brvier.brorg.apk
          path: bin/*.apk
          retention-days: 14
